# Variables

In [1]:
sum = 1 + 2             # 3
product = sum * 2
print(product)          #6

6

# Tipos de datos

In [ ]:
planetas_en_el_sistema_solar = 8 # int, plutón era considerado un planeta pero ya es muy pequeño
distancia_a_alfa_centauri = 4.367 # float, años luz
puede_despegar = True #Boolean
transbordador_que_aterrizo_en_la_luna = "Apollo 11" #string

# Función tipy()

In [3]:
distancia_a_alfa_centauri = 4.367
print(type(distancia_a_alfa_centauri))

<class 'float'>

# Operadores aritméticos

In [ ]:
# Operadores aritméticos

Tipo 	Descripción 	
. +   	Operador de adición 
. -   	Operador de resta 
. /   	Operador de división
. *   	Operador de multiplicación

# Operadores de asignación

In [ ]:
Operador 	Ejemplo
= 	        x = 2
            x ahora contiene 2.
            
+= 	        x += 2
            x incrementado en 2. Si antes contenía 2, ahora tiene un valor de 4.
            
-= 	        x -= 2
            x decrementado por 2. Si antes contenía 2, ahora tiene un valor de 0.
            
/= 	        x /= 2
            x dividido por 2. Si antes contenía 2, ahora tiene un valor de 1.
            
*= 	        x *= 2
            x multiplicado por 2. Si antes contenía 2, ahora tiene un valor de 4

# Fechas

In [13]:
from datetime import date

print(date.today())


#Conversión de tipo de dato
print("La fecha de hoy es: " + str(date.today()))

2022-02-06
La fecha de hoy es: 2022-02-06

# Entrada de datos

In [14]:
print("Bienvenido a la nave")
name = input("Introduzca su nombre ")
print("Saludos: " + name)

Bienvenido a la nave
Saludos: Daniel

In [16]:
print("Calculadora")
first_number = input("Primer número: ")
second_number = input("Segundo número: ")
print(int(first_number) + int(second_number))

Calculadora
6